ul {
  list-style: circle;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sometype Mono', monospace;

  margin-top: 16px;
  margin-left: 18px;
  margin-right: 18px;
  background-color: #f3eef7;
  margin: 0;
}

/* Left side */

.left-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0;
  margin-top: 6px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-status {
  margin: 0;
  font-size: 18px;
  margin-bottom: 6px;
}

.information {
  display: flex;
  flex-direction: column;
}

.div-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 240px;
}

.inf-block {
  display: flex;
  flex-direction: column;
}

.contacts {
  font-size: 18px;
  margin: 0;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

.main-information {
  margin-left: 10px;
  margin-bottom: 18px;
  line-height: 1.9;
}

.main-inf-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-inf-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .left-inf {
  display: flex;
} 

.left-inf {
  background-color: #ceb5de;
  border: 1px solid #9328d5;
  width: 35%;
} */

/*.my-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .my-name {
    left: 50%;
    top: 12px;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
  }
} 

.my-name {
  position: absolute;
  left: 50%;
  top: 12px;
  display: flex;
  flex-direction: column;

  line-height: 1.6;
}

.name {
  margin: 0;
  font-size: 28px;
}*/

/*.mobile-contacts {
  position: absolute;
  right: 0;
  top: 18%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} 

.name-status {
  margin: 0;
  font-size: 20px;
}

.information {
  margin-left: 0;
  width: 200px;
  line-height: 2;
  font-size: 14px;
}

.inf-block {
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 18px;
}
*/

/*.contacts {
  font-size: 14px;
  margin-left: 18%;
} 

.contacts {
  margin: 0;
  margin-left: 16px;
}
*/

/*.skills-list {
  margin: 0;
  font-size: 12px;
  line-height: 1.7;
  list-style: none;
} 
.skills-list {
  margin: 0;
} */

/*.photo {
  position: absolute;
  top: 18%;
  left: 10px;
  width: 170px;
}

.photo {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
*/

/* Right side 

.main-information {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 40%;
  margin-top: 10%;
}

.main-inf-item {
  line-height: 1.7;
  margin: 0;
}

.lang {
  margin-bottom: 6px;
}

*/
