ul {
  list-style: circle;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sometype Mono', monospace;

  margin-top: 16px;
  margin-left: 18px;
  margin-right: 18px;
  background-color: #f3eef7;
}

/* Left side */

.left-inf {
  display: flex;
}

/* .left-inf {
  background-color: #ceb5de;
  border: 1px solid #9328d5;
  width: 35%;
} */

.my-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .my-name {
    left: 50%;
    top: 12px;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
  }
}

/* .my-name {
  position: absolute;
  left: 50%;
  top: 12px;
  display: flex;
  flex-direction: column;

  line-height: 1.6;
} */

.name {
  margin: 0;
  font-size: 20px;
}

.mobile-contacts {
  position: absolute;
  right: 0;
  top: 18%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.name-status {
  margin: 0;
  font-size: 16px;
}

.information {
  margin-left: 0;
  width: 200px;
  line-height: 2;
  font-size: 14px;
}

.inf-block {
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.contacts {
  font-size: 14px;
  margin-left: 18%;
}

/* .contacts {
  margin: 0;
  margin-left: 16px;
} */

.skills-list {
  margin: 0;
  font-size: 12px;
  line-height: 1.7;
  list-style: none;
}
/* .skills-list {
  margin: 0;
  list-style: circule;
} */

.photo {
  position: absolute;
  top: 18%;
  left: 10px;
  width: 170px;
}

/* .photo {
  margin-top: 20px;
  margin-left: 16px;
} */

/* Right side */

.main-information {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 40%;
  margin-top: 10%;
}

.main-inf-item {
  line-height: 1.7;
  margin: 0;
}

.lang {
  margin-bottom: 6px;
}
