ul {
  list-style: circle;
}

a {
  text-decoration: none;
}

.link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.link:active,
.link:hover {
  color: #4c0877;
  font-size: large;
}

body {
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sometype Mono', monospace;

  margin-top: 16px;
  margin-left: 18px;
  margin-right: 18px;
  background-color: #f3eef7;
  margin: 0;
}

/* Left side */

.left-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .left-inf {
    background-color: #ceb5de;
    width: 35%;
  }
}

.name {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .name {
    font-size: 26px;
  }
}

.my-name {
  display: flex;
  flex-direction: column;
}

.name-status {
  margin: 0;
  font-size: 18px;
  margin-bottom: 6px;
}

.information {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .information {
    margin-bottom: 10px;
  }
}

.div-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .div-photo {
    margin-top: 16px;
  }
}

.photo {
  width: 210px;
}

.inf-block {
  display: flex;
  flex-direction: column;
}

.contacts {
  font-size: 18px;
  margin: 0;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .contacts {
    font-size: 20px;
  }
}

.skills-list {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .skills-list {
    font-size: 17px;
  }
}

.main-information {
  margin-left: 10px;
  margin-bottom: 18px;
  line-height: 1.9;
}

@media only screen and (min-width: 768px) {
  .main-information {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 37%;
    margin-top: 2%;
  }
}

.main-inf-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .main-inf-title {
    justify-content: start;
    align-items: start;
  }
}

.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .education-title {
    justify-content: start;
    align-items: start;
  }
}

.main-inf-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .main-inf-text {
    align-items: start;
  }
}

.lang {
  display: none;
}
